<?xml version="1.0" encoding="utf-8"?>
<!-- By: Hector Rodriguez Reyes
     Date: 09/30/19
     Class: CPSC 411
     Time: Tu/Th 4:00-5:15 PM
                            -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hector.hw1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- This runs Java API code -->
        <activity android:name=".secondActivity">

        <!-- This run Layout Resource File
        <activity android:name=".MainActivity">
                                            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>